@import url('https://fonts.googleapis.com/css?family=Bangers');

.flex-center{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}

.flex-center-text{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    text-align: center;
}

.flex-around{
    display: flex;
    justify-content:space-around;
    align-items: center;
    text-align: center;
}

.footer{
    position: fixed;
    bottom: 0;
    padding: 40px;
    background-color: #4b6584;
}

.footer a{
    color: white;
}

.header2{
    width: 60% !important;
    margin:auto !important;
}

.header2 a{
    color: black;
    font-size: 1.1rem;
    font-weight: bold;
}

.header{
    width: 60% !important;
    margin:auto !important;
    position: relative;
}
#headerScroll{
    display:none;
    background-color: #44484B;
    position:fixed;
    top:0px;
    width: 100%;
    z-index: 100;
}

.header a{
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    text-shadow: 1px 1px 20px black;
}


.nopadding{
    padding: 0!important;
}

video{
    min-width: 100%;
}

/* logo anim */
@keyframes logoAnim {
    0%   {
        top:0px;
        transform:rotate(0deg);
    }
    8%  {
        top:0;
    }
    10% {
        top:-18px;
    }
    11.5% {
        top:0;
    }
    13% {
        top:-12px;
    }
    15% {
        top:0;
    }
    50% {
        transform:rotate(0deg);
    }
    68% {
        transform:rotate(1080deg);
    }
    80%  {
        top:0;
    }
    81.5% {
        top:-8px;
    }
    83% {
        top:0;
    }
    100% {
        transform:rotate(1080deg);
    }
}

#logo{
    width:100px;
    height: 100px;
    position:relative;
    animation: logoAnim 15s ease infinite;
}

.video{
    height: 100vh;
    background-color: black;
    position: absolute;
    z-index: -1;
    top:0;
    opacity: 0.9;
    overflow: hidden;
}

.sponsor{
    margin-top: 3%;
}

.logoSponsor{
    display:inline !important;
    width: 150px;
}

#h1Home{
    font-family: 'Bangers', cursive;
    font-size: 4rem;
    color: #ffc312;
    margin-top: calc(100vh - 330px);
    text-shadow: 2px 3px #FFF;
    text-align: center;
    letter-spacing: 6px;
    z-index: 3;
}

#hp-container h2 {
    margin-top: 20px;
    font-family: Bangers;
    letter-spacing: 1px;
    margin: 60px 0px 20px 0px;
}

.button{
    width: 200px;
    height: 50px;
    border-radius: 50px;
    background-color: #fbd449;
    text-shadow: 2px 3px #000;
    color: #FFF;
    font-family:Bangers;
    letter-spacing:2px;
    font-size:1.6em;
    transition-duration: .1s;
}
.button:hover{
    background-color: #EBC34C;
    cursor:pointer;
}
.button:active{
    outline:none;
}

.buttonContainer{
    padding: 16px 30px 26px 30px;
    width: 700px;
    margin:auto;
    display: flex;
}

#google-map{
    margin-bottom: 30px;
    box-shadow: 12px 10px 2px #EBC34C, -4px 0 30px rgba(0,0,0,0.09);
    border-radius: 3px;
    margin: 34px 0 80px 0;
}

#desc-para {
    font-size: 1.2em;
    font-style: italic;
    width: 66%;
    margin-left: 18%;
    text-align: left;
}
#desc-para::first-letter {
    font-size: 1.6em;
    font-weight: 800;
    line-height: 1em;
}

#hp-container h2 > img {
    height: 36px;
    width: 36px;
    margin-bottom: 2px;
    margin-right: 20px;
}

.actu-ctnr{
    margin: 34px 0 90px 0;
}
.actu-ctnr > div{
    width: 30%;
    box-shadow: 12px 10px 2px #EBC34C, -4px 0 30px rgba(0,0,0,0.09);
    border-radius: 3px;
}
.actu-img{
    overflow:hidden;
    height: 200px;
}
.actu-img img{
    width: 100%;
}

#label{
    background-color: lightgreen;
    width: 300px;
    height: 80px;
    border-radius: 10px;
    text-align: center;
    color: white;
    position: absolute;
    bottom: 280px;
    left: 30px;
    vertical-align: center;
}

#label p{
    position: absolute;
    top: 15px;
    left: 25px;
}
#callToAction{
    transition-duration: .3s;
    transform: rotate(7deg);
    border: white 5px solid;
    background-color: #f5d961;
    width: 130px;
    border-radius: 100%;
    height: 130px;
    position: absolute;
    bottom: -25px;
    left: 270px;
    text-align: center;
    vertical-align: center;
}

#callToAction:hover{
    transform: rotate(25deg);
}
#callToAction a{
    right:20px;
    position: absolute;
    color: white;
    top:45px;
    font-weight: bold;
}

#callToAction a:hover{
    text-decoration: none;
}

.actu-ctnr h4{
    margin: 11px 0px;
}
.actu-ctnr p{
    text-align: justify;
    padding: 0 8px;
}
