.flex-center{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}
.flex-center-text{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    text-align: center;
}
.flex-around{
    display: flex;
    justify-content:space-around;
    align-items: center;
    text-align: center;
}
.footer{
    position: absolute;
    bottom: 0;
    padding: 40px;
    background-color: #4b6584;
}
.footer a{
    color: white;
}
.header{
    width: 60% !important;
    margin:auto !important;
}

.header a{
    color: white;
}


.nopadding{
    padding: 0!important;
}
video{
    width: 100%;
}

#logo{
    width:100px;
    height: 100px;
}
.video{
    position: absolute;
    z-index: -1;
    top:0;
}

body{
    color:white;
}