@import url('https://fonts.googleapis.com/css?family=Bangers');

.flex-center{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}

.flex-center-text{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    text-align: center;
}

.flex-around{
    display: flex;
    justify-content:space-around;
    align-items: center;
    text-align: center;
}

.footer{
    position: fixed;
    bottom: 0;
    padding: 40px;
    background-color: #4b6584;
}

.footer a{
    color: white;
}

.header2{
    width: 60% !important;
    margin:auto !important;
}

.header2 a{
    color: black;
    font-size: 1.1rem;
    font-weight: bold;
    text-shadow: 1px 1px 20px black;
}

.header{
    width: 60% !important;
    margin:auto !important;
}

.header a{
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    text-shadow: 1px 1px 20px black;
}


.nopadding{
    padding: 0!important;
}

video{
    min-width: 100%;
}

#logo{
    width:100px;
    height: 100px;
}

.video{
    height: 100vh;
    background-color: black;
    position: absolute;
    z-index: -1;
    top:0;
    opacity: 0.9;
    overflow: hidden;
}

.sponsor{
    margin-top: 3%;
}

.logoSponsor{
    display:inline !important;
    width: 150px;
}

#h1Home{
    font-family: 'Bangers', cursive;
    font-size: 4rem;
    color: #ffc312;
    margin-top: calc(100vh - 340px);
    text-align: center;
    letter-spacing: 6px;
    z-index: 3;
}

#hp-container h2 {
    font-family: Bangers;
    letter-spacing: 1px;
    margin: 50px 0px 20px 0px;
}

.button{
    color:white;
    background-color: #ffc312;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.buttonContainer{
    display: flex;
}

.button p{
    position: relative;
    top:60px;
}