{% extends "CRBundle::base.html.twig" %}

{% block title %}{{ parent() }}{% endblock %}

{% block content %}

    <div id="map-container">
        <div id="google-map" style="height:400px;width:100%"></div>
        <div>
            <h3>Les courses en France</h3>
        </div>
    </div>
    <script type="text/javascript">
        function initMap() {
            var course1 = new google.maps.LatLng(45.593721, 6.769110);

            var france = new google.maps.LatLng(46.814461, 1.607263);

            var map = new google.maps.Map(document.getElementById('google-map'), {
                center: france,
                zoom: 5
            });

            /*map.addListener('zoom_changed', function() {
                coordInfoWindow.setContent(createInfoWindowContent(course1, map.getZoom()));
                coordInfoWindow.open(map);
            });*/

            var locations = [
                {lat: 45.593721, lng: 6.769110},
                {lat: -33.718234, lng: 150.363181},
                {lat: -33.727111, lng: 150.371124},
                {lat: -33.848588, lng: 151.209834}
            ]

            var infoContent = [
                '<div id="content" class="text-dark"><div id="siteNotice"></div><h1 id="firstHeading" class="firstHeading">Boursin Maurice</h1><div id="bodyContent"><p><b>Boursin Maurice</b>, also referred to as <b>Ayers Rock</b>, is a large sandstone rock formation in the southern part of the Northern Territory, central Australia. It lies 335&#160;km (208&#160;mi) south west of the nearest large town, Alice Springs; 450&#160;km (280&#160;mi) by road. Kata Tjuta and Uluru are the two major features of the Uluru - Kata Tjuta National Park.<p><a href="/presentation">Voir les détails de la course</a></p></div></div>',
                '<div id="content" class="text-dark"><div id="siteNotice"></div><h1 id="firstHeading" class="firstHeading">Bretagne Vikings</h1><div id="bodyContent"><p><b>Boursin Maurice</b>, also referred to as <b>Ayers Rock</b>, is a large sandstone rock formation in the southern part of the Northern Territory, central Australia. It lies 335&#160;km (208&#160;mi) south west of the nearest large town, Alice Springs; 450&#160;km (280&#160;mi) by road. Kata Tjuta and Uluru are the two major features of the Uluru - Kata Tjuta National Park.<p><a href="/presentation">Voir les détails de la course</a></p></div></div>',
                '<div id="content" class="text-dark"><div id="siteNotice"></div><h1 id="firstHeading" class="firstHeading">Boursin Maurice</h1><div id="bodyContent"><p><b>Boursin Maurice</b>, also referred to as <b>Ayers Rock</b>, is a large sandstone rock formation in the southern part of the Northern Territory, central Australia. It lies 335&#160;km (208&#160;mi) south west of the nearest large town, Alice Springs; 450&#160;km (280&#160;mi) by road. Kata Tjuta and Uluru are the two major features of the Uluru - Kata Tjuta National Park.<p><a href="/presentation">Voir les détails de la course</a></p></div></div>',
                '<div id="content" class="text-dark"><div id="siteNotice"></div><h1 id="firstHeading" class="firstHeading">Boursin Maurice</h1><div id="bodyContent"><p><b>Boursin Maurice</b>, also referred to as <b>Ayers Rock</b>, is a large sandstone rock formation in the southern part of the Northern Territory, central Australia. It lies 335&#160;km (208&#160;mi) south west of the nearest large town, Alice Springs; 450&#160;km (280&#160;mi) by road. Kata Tjuta and Uluru are the two major features of the Uluru - Kata Tjuta National Park.<p><a href="/presentation">Voir les détails de la course</a></p></div></div>',
            ]

            var markers = locations.map(function(location, i) {
                var marker = new google.maps.Marker({
                    position: location,
                    //label: labels[i]
                });
                marker.addListener('click', function() {
                    new google.maps.InfoWindow({
                        content: infoContent[i]
                    }).open(map, marker);
                });
                return marker;
            });

            var markerCluster = new MarkerClusterer(map, markers,
                {imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});


        }

        var TILE_SIZE = 256;

        // The mapping between latitude, longitude and pixels is defined by the web
        // mercator projection.
        function project(latLng) {
            var siny = Math.sin(latLng.lat() * Math.PI / 180);

            // Truncating to 0.9999 effectively limits latitude to 89.189. This is
            // about a third of a tile past the edge of the world tile.
            siny = Math.min(Math.max(siny, -0.9999), 0.9999);

            return new google.maps.Point(
                TILE_SIZE * (0.5 + latLng.lng() / 360),
                TILE_SIZE * (0.5 - Math.log((1 + siny) / (1 - siny)) / (4 * Math.PI)));
        }
    </script>
    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCTRGK0p4ErH3dZZnbt31ycMe4VgX4-AQE&callback=initMap"></script>
{% endblock %}