{% extends "CRBundle::base.html.twig" %}

{% block title %}{{ parent() }}{% endblock %}

{% block content %}
    </div>
    <div style="overflow: hidden" class="col-12 nopadding flex-center video">
        <video playsinline autoplay muted loop id="bgvid">
            <source src="{{ asset('video/home.mp4') }}" type="video/mp4">
        </video>
    </div>
    <div class="container">
    <div style="text-align: center">
        <h2>Le concept</h2>
    </div>

    <div style="text-align: center">
        <h2>Actualité</h2>
    </div>

    <div style="text-align: center">
        <h2>Trouver un club</h2>
    </div>

{% endblock %}