{% extends "CRBundle::base2.html.twig" %}

{% block title %}{{ parent() }}{% endblock %}

{% block content %}
    <h1 class="my-4">Qu'est-ce que le Cheese Rolling ?</h1>
    <img src="https://i2-prod.gloucestershirelive.co.uk/incoming/article79922.ece/ALTERNATES/s615b/Competitors-take-part-in-the-annual-unofficial-cheese-rolling-at-Coopers-Hill-in-Brockworth.jpg">
    <div>
        <ul class="list-unstyled">
            <li><i></i>20 personnes au départ</li>
            <li>Une côte naturelle, plus ou moins pentue</li>
            <li>L'arbitre, en haut, lance le fromage et marque le départ</li>
            <li>4 catégories de course</li>
            <li>Des premiers soins pour les plus intrépides</li>
        </ul>
        <p>Chaque année, la célèbre Cheese Rolling Race a lieu à Brockworth, dans le Gloucestershire (Royaume-Uni). Le principe est simple: l'arbitre lâche un fromage rond depuis le sommet d’une colline, le vainqueur est celui ou celle qui attrape le fromage 200 mètres plus bas - qui arrive en tête. Pour emporter la victoire et le fromage de près de quatre kilos, il faut donc éviter de tomber ou d’être emporté par un concurrent dans sa chute. L’attraper en course est pratiquement impossible, le champion est donc celui qui termine la descente sur ses deux jambes. Plusieurs lancers sont organisés pour différentes catégories. Il en existe une pour les enfants, bien moins dangereuse que celle des adultes. Un des gagnants habitués est Chris Anderson, un vrai spécialiste: en dix ans, il a remporté quinze fromage. Chez les femmes, c’est l’adolescente de 16 ans Keavy Morgan qui s’est imposée à la dernière course avant d'admettre qu’elle n’aimait pas le fromage…</p>
    </div>
{% endblock %}