{% extends "CRBundle::base.html.twig" %}

{% block title %}{{ parent() }}{% endblock %}

{% block content %}
    <h1 class="my-4">Regardez les dernières courses de la FFCR</h1>
    <div style="text-align: center">
        <h3>Best Of des chutes de la Cheese Rolling de Aix en Provence</h3>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/ltjPj9w54UU?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
{% endblock %}